In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import psycopg2

Collecting psycopg2
  Using cached psycopg2-2.9.9-cp312-cp312-macosx_14_0_x86_64.whl
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9
Note: you may need to restart the kernel to use updated packages.

In [2]:
connection_params = {"user":"shleiferj", 
                     "password":"", 
                     "dbname":"hmda", 
                     "host":"localhost"}

def connect(params):
    """
    This function accepts a dictionary of connection parameters that must include:
    - user: the username to be used for the database session
    - password: the user's password
    - dbname: the name of the database for connection
    - host: the host location of the database
    """
    #attempt a connection with the supplied parameters
    try:
        conn = psycopg2.connect(**params)
        print("I'm connected") #print a success message
        return conn.cursor() #return a cursor object
    except psycopg2.Error as e: 
        print("I am unable to connect to the database: ", e) #print a fail message and the error, if any

In [ ]:

# Connect to your database
cur = connect(connection_params) #Connects to the database using parameters established above. 

query = """
SELECT lei, COUNT(*) AS count
FROM hmda_public.lar_2022  AS t
GROUP BY lei
ORDER BY count DESC
LIMIT 10;
"""

cur.execute(query) #Uses the SQL statement above to pull year and count of filers for 2017. 

results = cur.fetchall() #Saves the query results.

cur.close()

df = pd.DataFrame(results)

In [ ]:

# Connect to your database
cur = connect(connection_params) #Connects to the database using parameters established above. 

query = """
SELECT lei, respondent_name
FROM hmda_public.panel_2022
"""

cur.execute(query) 

results = cur.fetchall()

cur.close()

names = pd.DataFrame(results)

In [ ]:
"""
names = pd.DataFrame(results)
names.index = names[0]

leiToNames = {}

for i in """

In [ ]:
'''
for i in df:
    try:
        df[0][i] = leiToNames[df[0][i]]
    except:
        continue'''

In [ ]:


# Create a bar graph
plt.figure(figsize=(10, 6))
plt.bar(df[0], df[1], color='skyblue')
plt.title('10 Most Popular Morgage Banks')
plt.xlabel('Bank LEI')
plt.ylabel('Count')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:

# Connect to your database
cur = connect(connection_params) #Connects to the database using parameters established above. 

query = """
SELECT state_code, COUNT(*) AS count
FROM hmda_public.lar_2022  AS t
GROUP BY state_code
ORDER BY count DESC
LIMIT 10;
"""

cur.execute(query) #Uses the SQL statement above to pull year and count of filers for 2017. 

results = cur.fetchall() #Saves the query results.

cur.close()

df = pd.DataFrame(results)

In [ ]:

plt.figure(figsize=(10, 6))
plt.bar(df[0], df[1], color='skyblue')
plt.title('10 States with Most Applications')
plt.xlabel('State')
plt.ylabel('Count')
plt.tight_layout()
plt.show()

In [ ]:
# Connect to your database
cur = connect(connection_params) #Connects to the database using parameters established above. 

query = """
SELECT derived_race, COUNT(*) AS count
FROM hmda_public.lar_2022  AS t
GROUP BY derived_race
"""

cur.execute(query) #Uses the SQL statement above to pull year and count of filers for 2017. 

results = cur.fetchall() #Saves the query results.

cur.close()

df = pd.DataFrame(results)

In [ ]:
plt.figure(figsize=(10, 6))
plt.bar(df[0], df[1], color='skyblue')
plt.title('Number of Applications by Race in 2022')
plt.xlabel('Race')
plt.ylabel('Count')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
# Connect to your database
cur = connect(connection_params) #Connects to the database using parameters established above. 

query = """
SELECT derived_sex, COUNT(*) AS count
FROM hmda_public.lar_2022  AS t
GROUP BY derived_sex
"""

cur.execute(query) #Uses the SQL statement above to pull year and count of filers for 2017. 

results = cur.fetchall() #Saves the query results.

cur.close()

df = pd.DataFrame(results)

In [ ]:
plt.figure(figsize=(10, 6))
plt.bar(df[0], df[1], color='skyblue')
plt.title('Number of Applications by Sex in 2022')
plt.xlabel('Sex')
plt.ylabel('Count')
plt.tight_layout()
plt.show()

In [ ]:
# Connect to your database
cur = connect(connection_params) #Connects to the database using parameters established above. 

query = """
SELECT loan_amount
FROM hmda_public.lar_2022  AS t
"""

cur.execute(query) #Uses the SQL statement above to pull year and count of filers for 2017. 

results = cur.fetchall() #Saves the query results.

cur.close()

df = pd.DataFrame(results)

In [ ]:
#df[1] = pd.to_numeric(df[0])

plt.figure(figsize=(10, 6))
plt.hist(df[0], bins=20, color='purple')
plt.title('Loan Amount Histogram')
plt.xlabel('Amount')
plt.ylabel('Count (Log Scale)')
plt.yscale('log')
plt.xticks(rotation=45)
plt.show()